html,
body {
  overflow-x: hidden;
}

#ourservices {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  font-style: normal;
}

.jumbotron {
  background-color: #f1f3ff;
}
.jumbotron h3 {
  font-family: Helvetica;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
}

.jumbotron p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.btn-sewa {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  height: 36px;
  width: 140px;
  left: 136px;
  top: 377px;
  border-radius: 2px;
  padding: 8px 12px;
  background: #5cb85f;
  box-sizing: border-box;
  gap: 10px;
  text-decoration: none;
}

#id_service h6 {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

#id_service h3 {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

#id_testimoni h1 {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}
#id_testimoni p {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  /* text-align: center; */
  color: #000000;
}
.footer h5 {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.nav-content {
  justify-content: flex-end;
  flex-grow: 1;
}

@media only screen and (max-width: 576px) {
  .rectangle_nav {
    height: 34px;
    width: 100px;
    left: 136px;
    top: 25px;
    border-radius: 0px;
    background: #0d28a6;
  }
  #img_car {
    margin-top: 25px;
    height: 60%;
  }
  #img_service {
    height: 80%;
  }
  #text-why-us {
    text-align: center;
  }
  .row2 {
    height: 400px;
    width: 328px;
    left: 16px;
    top: 2953px;
    border-radius: 13px;
    padding: 64px 270px 64px 270px;
    background: #0d28a6;
    text-align: center;
  }
  .row2 h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
  }
  #id_faq {
    text-align: center;
  }
  #op1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 8px;
    margin-bottom: 10px;
    width: 450px;
    height: 56px;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .nav-wrapper {
    display: flex;
    flex-direction: column;
  }

  .nav-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    flex-grow: 0;
  }
  .bcr {
    display: contents;
  }
  .row2 {
    height: 400px;
    width: 328px;
    left: 16px;
    top: 2953px;
    border-radius: 13px;
    padding: 64px 270px 64px 270px;
  }
  .row2 h1 {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }
  .row2 p {
    width: 212px;
    height: 80px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .row2 btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    width: 140px;
    height: 36px;
    background: #5cb85f;
    border-radius: 2px;

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  #id_faq {
    margin-top: 40px;
  }
  #img-testimoni {
    width: 100px;
  }
  #img-rate {
    width: 100px;
    margin: auto;
  }
  #img-rate2 {
    width: 100px;
    margin: auto;
  }
}
@media only screen and (min-width: 576px) {
  .owl-nav {
    display: inline;
  }
  .rectangle_nav {
    height: 34px;
    width: 100px;
    left: 136px;
    top: 25px;
    border-radius: 0px;
    background: #0d28a6;
    position: absolute;
  }
  #op1 {
    box-sizing: border-box;

    width: 668px;
    height: 56px;
    left: 0px;
    top: 0px;

    background: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    height: 56px;
    width: 668px;
    border-radius: 4px;
    margin: 10px 0px 10px 0px;
  }
  .bcr {
    display: none;
  }
  .row2 {
    height: 300px;
    width: 1168px;
    left: 100px;
    top: 1500px;
    border-radius: 13px;
    background: #0d28a6;
  }

  .row2 h1 {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
  }

  .row2 p {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #ffffff;
  }
  #id_faq {
    margin-left: 75px;
  }
  #img-testimoni {
    width: 100px;
  }
  #img-rate {
    width: 100px;
  }
}
